<a href="https://colab.research.google.com/github/laienwu/WCS/blob/master/PredictionNaissances_Datahon_laien.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

import calendar
import datetime

import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')

In [ ]:
from google.colab import files

uploaded = files.upload()

Saving births.csv to births (1).csv

In [ ]:
dataframeNaissance = pd.read_csv('births.csv')

In [ ]:
dataframeNaissance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15547 entries, 0 to 15546
Data columns (total 5 columns):
year      15547 non-null int64
month     15547 non-null int64
day       15067 non-null float64
gender    15547 non-null object
births    15547 non-null int64
dtypes: float64(1), int64(3), object(1)
memory usage: 607.4+ KB

In [ ]:
# On supprime les lignes contenant des NaN
dataframeNaissance = dataframeNaissance.dropna(axis=0, how='any')
dataframeNaissance.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 15067 entries, 0 to 15066
Data columns (total 5 columns):
year      15067 non-null int64
month     15067 non-null int64
day       15067 non-null float64
gender    15067 non-null object
births    15067 non-null int64
dtypes: float64(1), int64(3), object(1)
memory usage: 706.3+ KB

In [ ]:
dataframeNaissance.day.describe()

count    15067.000000
mean        17.769894
std         15.284034
min          1.000000
25%          8.000000
50%         16.000000
75%         24.000000
max         99.000000
Name: day, dtype: float64

In [ ]:
dataframeNaissance.day.value_counts()

27.0    480
25.0    480
2.0     480
3.0     480
4.0     480
5.0     480
6.0     480
7.0     480
8.0     480
10.0    480
12.0    480
14.0    480
16.0    480
20.0    480
24.0    480
28.0    480
17.0    480
23.0    480
9.0     480
21.0    480
11.0    480
13.0    480
15.0    480
18.0    480
22.0    480
26.0    480
19.0    480
1.0     480
29.0    464
30.0    450
31.0    363
99.0    350
Name: day, dtype: int64

**Convertir les donnees de la colonne 'day' en integer**

In [ ]:
dataframeNaissance["day"] = dataframeNaissance.day.astype(int)

In [ ]:
dataframeNaissance.head()

   year  month  day gender  births
0  1969      1    1      F    4046
1  1969      1    1      M    4440
2  1969      1    2      F    4454
3  1969      1    2      M    4548
4  1969      1    3      F    4548

In [ ]:
dataframeNaissance.describe(include="all")

                year         month           day gender        births
count   15067.000000  15067.000000  15067.000000  15067  15067.000000
unique           NaN           NaN           NaN      2           NaN
top              NaN           NaN           NaN      F           NaN
freq             NaN           NaN           NaN   7536           NaN
mean     1978.417402      6.516427     17.769894    NaN   4678.631513
std         5.762018      3.449554     15.284034    NaN   1003.104707
min      1969.000000      1.000000      1.000000    NaN      1.000000
25%      1973.000000      4.000000      8.000000    NaN   4344.000000
50%      1978.000000      7.000000     16.000000    NaN   4785.000000
75%      1983.000000     10.000000     24.000000    NaN   5247.000000
max      1988.000000     12.000000     99.000000    NaN   6527.000000

**Nettoyage sur les mois et les jours**
* Suppression des mois supérieur à 12
* Suppression des jours supérieurs à 31
* Quels mois on 30 jours max ? Pour supprimer les occurences > à 30 jours
Avril, Juin, Septembre, Novembre

In [ ]:
dataframeNaissance = dataframeNaissance[dataframeNaissance['month'] <= 12]

In [ ]:
dataframeNaissance = dataframeNaissance[dataframeNaissance['day'] <= 31]

In [ ]:
dataframeNaissance.drop(index = (dataframeNaissance[dataframeNaissance['month'] == 4][dataframeNaissance['day'] > 30].index), inplace=True)
dataframeNaissance.drop(index = (dataframeNaissance[dataframeNaissance['month'] == 6][dataframeNaissance['day'] > 30].index), inplace=True)
dataframeNaissance.drop(index = (dataframeNaissance[dataframeNaissance['month'] == 9][dataframeNaissance['day'] > 30].index), inplace=True)
dataframeNaissance.drop(index = (dataframeNaissance[dataframeNaissance['month'] == 11][dataframeNaissance['day'] > 30].index), inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  after removing the cwd from sys.path.

Il ne s'agit pas d'une erreur, le code s'éxécute correctement, on a juste un warning qui nous dit que la reindexation du dataframe se fait automatiquement.

**Cas du mois de Février avec les années bissextiles**

* 28 ou 29  selon l'année 
* Supprimer les individus ayant des mois supérieurs à 29 jours

In [ ]:
dataframeNaissance.drop(index = (dataframeNaissance[dataframeNaissance['month'] == 2][dataframeNaissance['day'] > 29].index), inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [ ]:
dataframeNaissance[dataframeNaissance['month'] == 2][dataframeNaissance['day'] == 29]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

       year  month  day gender  births
120    1969      2   29      F      50
121    1969      2   29      M      16
888    1970      2   29      F      38
889    1970      2   29      M      44
1656   1971      2   29      F       4
2420   1972      2   29      F    4663
2421   1972      2   29      M    4919
3185   1973      2   29      F       3
3186   1973      2   29      M       4
3947   1974      2   29      F       5
3948   1974      2   29      M       2
4713   1975      2   29      F       3
4714   1975      2   29      M       4
5476   1976      2   29      F    3681
5477   1976      2   29      M    3878
6236   1977      2   29      F       3
6996   1978      2   29      F       2
6997   1978      2   29      M       8
8504   1980      2   29      F    4646
8505   1980      2   29      M    4969
11495  1984      2   29      F    4773
11496  1984      2   29      M    4907
14446  1988      2   29      F    4859
14447  1988      2   29      M    4939

In [ ]:
# S'intaxe pour transformer une condition en série
ma_serie = dataframeNaissance[dataframeNaissance['month'] == 2][dataframeNaissance['day'] == 29]['year']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [ ]:
ma_serie

120      1969
121      1969
888      1970
889      1970
1656     1971
2420     1972
2421     1972
3185     1973
3186     1973
3947     1974
3948     1974
4713     1975
4714     1975
5476     1976
5477     1976
6236     1977
6996     1978
6997     1978
8504     1980
8505     1980
11495    1984
11496    1984
14446    1988
14447    1988
Name: year, dtype: int64

In [ ]:
# Un module très intéressant, même si il va faloir se plonger dans la doc ;-)

help(calendar)

Help on module calendar:

NAME
    calendar - Calendar printing functions

MODULE REFERENCE
    https://docs.python.org/3.6/library/calendar

    The following documentation is automatically generated from the Python
    source files.  It may be incomplete, incorrect or include features that
    are considered implementation detail and may vary between Python
    implementations.  When in doubt, consult the module reference at the
    location listed above.

DESCRIPTION
    Note when comparing these calendars to the ones printed by cal(1): By
    default, these calendars have Monday as the first day of the week, and
    Sunday as the last (the European convention). Use setfirstweekday() to
    set the first day of the week (0=Monday, 6=Sunday).

CLASSES
    builtins.ValueError(builtins.Exception)
        IllegalMonthError
        IllegalWeekdayError
    builtins.object
        Calendar
            HTMLCalendar
                LocaleHTMLCalendar
            TextCalendar
                LocaleTextCalendar

    class Calendar(builtins.object)
     |  Base calendar class. This class doesn't do any formatting. It simply
     |  provides data to subclasses.
     |
     |  Methods defined here:
     |
     |  __init__(self, firstweekday=0)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  getfirstweekday(self)
     |
     |  itermonthdates(self, year, month)
     |      Return an iterator for one month. The iterator will yield datetime.date
     |      values and will always iterate through complete weeks, so it will yield
     |      dates outside the specified month.
     |
     |  itermonthdays(self, year, month)
     |      Like itermonthdates(), but will yield day numbers. For days outside
     |      the specified month the day number is 0.
     |
     |  itermonthdays2(self, year, month)
     |      Like itermonthdates(), but will yield (day number, weekday number)
     |      tuples. For days outside the specified month the day number is 0.
     |
     |  iterweekdays(self)
     |      Return an iterator for one week of weekday numbers starting with the
     |      configured first one.
     |
     |  monthdatescalendar(self, year, month)
     |      Return a matrix (list of lists) representing a month's calendar.
     |      Each row represents a week; week entries are datetime.date values.
     |
     |  monthdays2calendar(self, year, month)
     |      Return a matrix representing a month's calendar.
     |      Each row represents a week; week entries are
     |      (day number, weekday number) tuples. Day numbers outside this month
     |      are zero.
     |
     |  monthdayscalendar(self, year, month)
     |      Return a matrix representing a month's calendar.
     |      Each row represents a week; days outside this month are zero.
     |
     |  setfirstweekday(self, firstweekday)
     |
     |  yeardatescalendar(self, year, width=3)
     |      Return the data for the specified year ready for formatting. The return
     |      value is a list of month rows. Each month row contains up to width months.
     |      Each month contains between 4 and 6 weeks and each week contains 1-7
     |      days. Days are datetime.date objects.
     |
     |  yeardays2calendar(self, year, width=3)
     |      Return the data for the specified year ready for formatting (similar to
     |      yeardatescalendar()). Entries in the week lists are
     |      (day number, weekday number) tuples. Day numbers outside this month are
     |      zero.
     |
     |  yeardayscalendar(self, year, width=3)
     |      Return the data for the specified year ready for formatting (similar to
     |      yeardatescalendar()). Entries in the week lists are day numbers.
     |      Day numbers outside this month are zero.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  firstweekday

    class HTMLCalendar(Calendar)
     |  This calendar returns complete HTML pages.
     |
     |  Method resolution order:
     |      HTMLCalendar
     |      Calendar
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  formatday(self, day, weekday)
     |      Return a day as a table cell.
     |
     |  formatmonth(self, theyear, themonth, withyear=True)
     |      Return a formatted month as a table.
     |
     |  formatmonthname(self, theyear, themonth, withyear=True)
     |      Return a month name as a table row.
     |
     |  formatweek(self, theweek)
     |      Return a complete week as a table row.
     |
     |  formatweekday(self, day)
     |      Return a weekday name as a table header.
     |
     |  formatweekheader(self)
     |      Return a header for a week as a table row.
     |
     |  formatyear(self, theyear, width=3)
     |      Return a formatted year as a table of tables.
     |
     |  formatyearpage(self, theyear, width=3, css='calendar.css', encoding=None)
     |      Return a formatted year as a complete HTML page.
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  cssclasses = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from Calendar:
     |
     |  __init__(self, firstweekday=0)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  getfirstweekday(self)
     |
     |  itermonthdates(self, year, month)
     |      Return an iterator for one month. The iterator will yield datetime.date
     |      values and will always iterate through complete weeks, so it will yield
     |      dates outside the specified month.
     |
     |  itermonthdays(self, year, month)
     |      Like itermonthdates(), but will yield day numbers. For days outside
     |      the specified month the day number is 0.
     |
     |  itermonthdays2(self, year, month)
     |      Like itermonthdates(), but will yield (day number, weekday number)
     |      tuples. For days outside the specified month the day number is 0.
     |
     |  iterweekdays(self)
     |      Return an iterator for one week of weekday numbers starting with the
     |      configured first one.
     |
     |  monthdatescalendar(self, year, month)
     |      Return a matrix (list of lists) representing a month's calendar.
     |      Each row represents a week; week entries are datetime.date values.
     |
     |  monthdays2calendar(self, year, month)
     |      Return a matrix representing a month's calendar.
     |      Each row represents a week; week entries are
     |      (day number, weekday number) tuples. Day numbers outside this month
     |      are zero.
     |
     |  monthdayscalendar(self, year, month)
     |      Return a matrix representing a month's calendar.
     |      Each row represents a week; days outside this month are zero.
     |
     |  setfirstweekday(self, firstweekday)
     |
     |  yeardatescalendar(self, year, width=3)
     |      Return the data for the specified year ready for formatting. The return
     |      value is a list of month rows. Each month row contains up to width months.
     |      Each month contains between 4 and 6 weeks and each week contains 1-7
     |      days. Days are datetime.date objects.
     |
     |  yeardays2calendar(self, year, width=3)
     |      Return the data for the specified year ready for formatting (similar to
     |      yeardatescalendar()). Entries in the week lists are
     |      (day number, weekday number) tuples. Day numbers outside this month are
     |      zero.
     |
     |  yeardayscalendar(self, year, width=3)
     |      Return the data for the specified year ready for formatting (similar to
     |      yeardatescalendar()). Entries in the week lists are day numbers.
     |      Day numbers outside this month are zero.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from Calendar:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  firstweekday

    class IllegalMonthError(builtins.ValueError)
     |  Inappropriate argument value (of correct type).
     |
     |  Method resolution order:
     |      IllegalMonthError
     |      builtins.ValueError
     |      builtins.Exception
     |      builtins.BaseException
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __init__(self, month)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  __str__(self)
     |      Return str(self).
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.ValueError:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.BaseException:
     |
     |  __delattr__(self, name, /)
     |      Implement delattr(self, name).
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __reduce__(...)
     |      helper for pickle
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __setattr__(self, name, value, /)
     |      Implement setattr(self, name, value).
     |
     |  __setstate__(...)
     |
     |  with_traceback(...)
     |      Exception.with_traceback(tb) --
     |      set self.__traceback__ to tb and return self.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from builtins.BaseException:
     |
     |  __cause__
     |      exception cause
     |
     |  __context__
     |      exception context
     |
     |  __dict__
     |
     |  __suppress_context__
     |
     |  __traceback__
     |
     |  args

    class IllegalWeekdayError(builtins.ValueError)
     |  Inappropriate argument value (of correct type).
     |
     |  Method resolution order:
     |      IllegalWeekdayError
     |      builtins.ValueError
     |      builtins.Exception
     |      builtins.BaseException
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __init__(self, weekday)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  __str__(self)
     |      Return str(self).
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors defined here:
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.ValueError:
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from builtins.BaseException:
     |
     |  __delattr__(self, name, /)
     |      Implement delattr(self, name).
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __reduce__(...)
     |      helper for pickle
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __setattr__(self, name, value, /)
     |      Implement setattr(self, name, value).
     |
     |  __setstate__(...)
     |
     |  with_traceback(...)
     |      Exception.with_traceback(tb) --
     |      set self.__traceback__ to tb and return self.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from builtins.BaseException:
     |
     |  __cause__
     |      exception cause
     |
     |  __context__
     |      exception context
     |
     |  __dict__
     |
     |  __suppress_context__
     |
     |  __traceback__
     |
     |  args

    class LocaleHTMLCalendar(HTMLCalendar)
     |  This class can be passed a locale name in the constructor and will return
     |  month and weekday names in the specified locale. If this locale includes
     |  an encoding all strings containing month and weekday names will be returned
     |  as unicode.
     |
     |  Method resolution order:
     |      LocaleHTMLCalendar
     |      HTMLCalendar
     |      Calendar
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __init__(self, firstweekday=0, locale=None)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  formatmonthname(self, theyear, themonth, withyear=True)
     |      Return a month name as a table row.
     |
     |  formatweekday(self, day)
     |      Return a weekday name as a table header.
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from HTMLCalendar:
     |
     |  formatday(self, day, weekday)
     |      Return a day as a table cell.
     |
     |  formatmonth(self, theyear, themonth, withyear=True)
     |      Return a formatted month as a table.
     |
     |  formatweek(self, theweek)
     |      Return a complete week as a table row.
     |
     |  formatweekheader(self)
     |      Return a header for a week as a table row.
     |
     |  formatyear(self, theyear, width=3)
     |      Return a formatted year as a table of tables.
     |
     |  formatyearpage(self, theyear, width=3, css='calendar.css', encoding=None)
     |      Return a formatted year as a complete HTML page.
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes inherited from HTMLCalendar:
     |
     |  cssclasses = ['mon', 'tue', 'wed', 'thu', 'fri', 'sat', 'sun']
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from Calendar:
     |
     |  getfirstweekday(self)
     |
     |  itermonthdates(self, year, month)
     |      Return an iterator for one month. The iterator will yield datetime.date
     |      values and will always iterate through complete weeks, so it will yield
     |      dates outside the specified month.
     |
     |  itermonthdays(self, year, month)
     |      Like itermonthdates(), but will yield day numbers. For days outside
     |      the specified month the day number is 0.
     |
     |  itermonthdays2(self, year, month)
     |      Like itermonthdates(), but will yield (day number, weekday number)
     |      tuples. For days outside the specified month the day number is 0.
     |
     |  iterweekdays(self)
     |      Return an iterator for one week of weekday numbers starting with the
     |      configured first one.
     |
     |  monthdatescalendar(self, year, month)
     |      Return a matrix (list of lists) representing a month's calendar.
     |      Each row represents a week; week entries are datetime.date values.
     |
     |  monthdays2calendar(self, year, month)
     |      Return a matrix representing a month's calendar.
     |      Each row represents a week; week entries are
     |      (day number, weekday number) tuples. Day numbers outside this month
     |      are zero.
     |
     |  monthdayscalendar(self, year, month)
     |      Return a matrix representing a month's calendar.
     |      Each row represents a week; days outside this month are zero.
     |
     |  setfirstweekday(self, firstweekday)
     |
     |  yeardatescalendar(self, year, width=3)
     |      Return the data for the specified year ready for formatting. The return
     |      value is a list of month rows. Each month row contains up to width months.
     |      Each month contains between 4 and 6 weeks and each week contains 1-7
     |      days. Days are datetime.date objects.
     |
     |  yeardays2calendar(self, year, width=3)
     |      Return the data for the specified year ready for formatting (similar to
     |      yeardatescalendar()). Entries in the week lists are
     |      (day number, weekday number) tuples. Day numbers outside this month are
     |      zero.
     |
     |  yeardayscalendar(self, year, width=3)
     |      Return the data for the specified year ready for formatting (similar to
     |      yeardatescalendar()). Entries in the week lists are day numbers.
     |      Day numbers outside this month are zero.
     |
     |  ----------------------------------------------------------------------
     |  Data descriptors inherited from Calendar:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  firstweekday

    class LocaleTextCalendar(TextCalendar)
     |  This class can be passed a locale name in the constructor and will return
     |  month and weekday names in the specified locale. If this locale includes
     |  an encoding all strings containing month and weekday names will be returned
     |  as unicode.
     |
     |  Method resolution order:
     |      LocaleTextCalendar
     |      TextCalendar
     |      Calendar
     |      builtins.object
     |
     |  Methods defined here:
     |
     |  __init__(self, firstweekday=0, locale=None)
     |      Initialize self.  See help(type(self)) for accurate signature.
     |
     |  formatmonthname(self, theyear, themonth, width, withyear=True)
     |      Return a formatted month name.
     |
     |  formatweekday(self, day, width)
     |      Returns a formatted week day name.
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from TextCalendar:
     |
     |  formatday(self, day, weekday, width)
     |      Returns a formatted day.
     |
     |  formatmonth(self, theyear, themonth, w=0, l=0)
     |      Return a month's calendar string (multi-line).
     |
     |  formatweek(self, theweek, width)
     |      Returns a single week in a string (no newline).
     |
     |  formatweekheader(self, width)
     |      Return a header for a week.
     |
     |  formatyear(self, theyear, w=2, l=1, c=6, m=3)
     |      Returns a year's calendar as a multi-line string.
     |
     |  prmonth(self, theyear, themonth, w=0, l=0)
     |      Print a month's calendar.
     |
     |  prweek(self, theweek, width)
     |      Print a single week (no newline).
     |
     |  pryear(self, theyear, w=0, l=0, c=6, m=3)
     |      Print a year's calendar.
     |
     |  ----------------------------------------------------------------------
     |  Methods inherited from Calendar:
     |
     |  getfirstweekday(self)
     |
     |  itermonthdates(self, year, month)
     |      Return an iterator for one month. The iterator will yield datetime.date
     |      values and will always iterate through complete weeks, so it will yield
     |      dates outside the specified month.
     |
     |  itermonthdays(self, year, month)
     |      Like itermonthdates(), but will yield day numbers. For days outside
     |      the specified month the day number is 0.
     |
     |  itermonthdays2(self, year, month)
     |      Like itermonthdates(), but will yield (day number, weekday number)

iloc  (qui référence par la position) de chaque objet

In [ ]:
# Top ! La méthode isleap de calendar me renvoie True si le mois est une leap year
# Autrement dit une année bisextile - 366 jours avec 29 jours en Février
help(calendar.isleap)

Help on function isleap in module calendar:

isleap(year)
    Return True for leap years, False for non-leap years.

In [ ]:
# Compréhension de liste qui me renvoie donc une LISTE
# Ici on ne récupère que les index des éléments de la serie grâce à iloc[]

# Donc on boucle autant de fois qu'il y a d'élément dans ma_serie
# Et à chaque tour on vérifie si l'année n'est pas (if not) bissextile
# Chaque index des années non bissextiles sera donc renvoyé dans la liste ma_serie.index

[ma_serie.index[i] for i in range(len(ma_serie)) if not calendar.isleap(ma_serie.iloc[i])]

[120,
 121,
 888,
 889,
 1656,
 3185,
 3186,
 3947,
 3948,
 4713,
 4714,
 6236,
 6996,
 6997]

In [ ]:
# On peut donc les supprimer grâce à une autre compréhension de liste

dataframeNaissance.drop(index = [ma_serie.index[i] for i in range(len(ma_serie)) if not calendar.isleap(ma_serie.iloc[i])] , \
inplace=True)

In [ ]:
# Affichage des années bissextiles

dataframeNaissance[dataframeNaissance['month'] == 2][dataframeNaissance['day'] == 29]['year']

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.

2420     1972
2421     1972
5476     1976
5477     1976
8504     1980
8505     1980
11495    1984
11496    1984
14446    1988
14447    1988
Name: year, dtype: int64