<a href="https://colab.research.google.com/github/laienwu/WCS/blob/master/Yuka.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import pandas as pd
# import os
# os.getcwd()
# os.listdir('/content/gdrive/My Drive/Colab Notebooks/')
url='/content/gdrive/My Drive/Colab Notebooks/fr.openfoodfacts.org.products.csv'
df=pd.read_csv(url, sep='\t')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0,3,5,19,20,24,25,26,27,28,35,36,37,38,39,48) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [ ]:
df1=df.copy()
print("Fichier original : {} lignes, {} colonnes".format(df1.shape[0], df1.shape[1]))
liste_pays=["FR","en:FR","FRANCE","France"]
df_fr= df1[df1.countries.isin(liste_pays)]
print("Fichier fr : {} lignes, {} colonnes".format(df_fr.shape[0], df_fr.shape[1]))

Fichier original : 320772 lignes, 162 colonnes
Fichier fr : 94298 lignes, 162 colonnes

In [ ]:
import pprint
print(df_fr.shape)
col = df1.columns.values.tolist()
dico = {}
# Get the columns with are the most filled
for i in col:
  tmp = len(df_fr[i].value_counts())
  if tmp > df_fr.shape[0] * 0.2:
    dico[i] = tmp
pprint.pprint(dico)

(94298, 162)
{'additives': 43018,
 'brands': 20022,
 'categories': 25263,
 'code': 94297,
 'created_datetime': 93891,
 'created_t': 93924,
 'generic_name': 25715,
 'image_small_url': 49396,
 'image_url': 49396,
 'ingredients_text': 46342,
 'last_modified_datetime': 91567,
 'last_modified_t': 91616,
 'product_name': 71381,
 'url': 94298}

In [ ]:
tmp = len(df_fr) - df_fr.count()
print(tmp[tmp>80000])

cities                                        94298
allergens_fr                                  94298
no_nutriments                                 94298
ingredients_from_palm_oil                     94298
ingredients_from_palm_oil_tags                90917
ingredients_that_may_be_from_palm_oil         94298
ingredients_that_may_be_from_palm_oil_tags    88404
nutrition_grade_uk                            94298
energy-from-fat_100g                          94288
butyric-acid_100g                             94298
caproic-acid_100g                             94298
caprylic-acid_100g                            94298
capric-acid_100g                              94298
lauric-acid_100g                              94297
myristic-acid_100g                            94298
palmitic-acid_100g                            94298
stearic-acid_100g                             94298
arachidic-acid_100g                           94297
behenic-acid_100g                             94298
lignoceric-acid_100g                          94298
cerotic-acid_100g                             94298
montanic-acid_100g                            94297
melissic-acid_100g                            94298
monounsaturated-fat_100g                      93219
polyunsaturated-fat_100g                      93189
omega-3-fat_100g                              93673
alpha-linolenic-acid_100g                     94129
eicosapentaenoic-acid_100g                    94281
docosahexaenoic-acid_100g                     94260
omega-6-fat_100g                              94163
                                              ...
folates_100g                                  94297
vitamin-b12_100g                              93830
biotin_100g                                   94122
pantothenic-acid_100g                         93923
silica_100g                                   94277
bicarbonate_100g                              94256
potassium_100g                                94022
chloride_100g                                 94196
calcium_100g                                  92392
phosphorus_100g                               93794
iron_100g                                     93387
magnesium_100g                                93601
zinc_100g                                     94095
copper_100g                                   94190
manganese_100g                                94196
fluoride_100g                                 94241
selenium_100g                                 94213
chromium_100g                                 94291
molybdenum_100g                               94294
iodine_100g                                   94184
caffeine_100g                                 94267
taurine_100g                                  94273
ph_100g                                       94263
fruits-vegetables-nuts_100g                   91409
collagen-meat-protein-ratio_100g              94135
cocoa_100g                                    93718
chlorophyl_100g                               94298
carbon-footprint_100g                         94129
glycemic-index_100g                           94298
water-hardness_100g                           94298
Length: 96, dtype: int64

In [ ]:
lc = ['product_name', 'code', 'nutrition_grade_fr', 'pnns_groups_1', 'pnns_groups_2', 'nutrition-score-fr_100g', 'nutrition-score-uk_100g']
df_fr7 = df_fr[lc].reset_index(drop=True)
print("Fichier fr pertient: {} lignes, {} colonnes".format(df_fr7.shape[0], df_fr7.shape[1]))
df_fr7.head()

Fichier fr pertient: 94298 lignes, 7 colonnes

,product_name,code,nutrition_grade_fr,pnns_groups_1,pnns_groups_2,nutrition-score-fr_100g,nutrition-score-uk_100g
0,Farine de blé noir,3087,NaN,NaN,NaN,NaN,NaN
1,Filet de bœuf,24600,NaN,unknown,unknown,NaN,NaN
2,NaN,27205,NaN,NaN,NaN,NaN,NaN
3,Twix x2,39259,NaN,unknown,unknown,NaN,NaN
4,lentilles vertes,5200016,NaN,Cereals and potatoes,Legumes,NaN,NaN

In [ ]:
mask = ~df_fr7.nutrition_grade_fr.isna() | ~df_fr7['nutrition-score-fr_100g'].isna() |  ~df_fr7['nutrition-score-uk_100g'].isna()
print(mask.iloc[8:12])
df2 = df_fr7[mask]
df2.head()

8     False
9     False
10     True
11     True
dtype: bool

,product_name,code,nutrition_grade_fr,pnns_groups_1,pnns_groups_2,nutrition-score-fr_100g,nutrition-score-uk_100g
10,Mini Confettis,10187319,d,NaN,NaN,14.0,14.0
11,Praliné Amande Et Noisette,10207260,d,NaN,NaN,14.0,14.0
15,"Pepsi, Nouveau goût !",40608754,e,Beverages,Sweetened beverages,13.0,2.0
18,Tarte Poireaux Et Lardons,69161025,d,NaN,NaN,15.0,15.0
19,7Up,87177756,e,Beverages,Sweetened beverages,13.0,2.0

In [ ]:
df2[df2['pnns_groups_2'] == 'artifically']

Empty DataFrame
Columns: [product_name, code, nutrition_grade_fr, pnns_groups_1, pnns_groups_2, nutrition-score-fr_100g, nutrition-score-uk_100g]
Index: []

In [ ]:
for i in ['a', 'b', 'c', 'd', 'e']:
  print(df2[df2.nutrition_grade_fr == i].describe())

       nutrition-score-fr_100g  nutrition-score-uk_100g
count              9793.000000              9793.000000
mean                 -3.643112                -3.643521
std                   2.319675                 2.318857
min                 -15.000000               -15.000000
25%                  -5.000000                -5.000000
50%                  -3.000000                -3.000000
75%                  -2.000000                -2.000000
max                  10.000000                 8.000000
       nutrition-score-fr_100g  nutrition-score-uk_100g
count              8826.000000              8826.000000
mean                  0.893610                 0.828915
std                   0.950747                 1.110632
min                  -8.000000                -8.000000
25%                   0.000000                 0.000000
50%                   1.000000                 1.000000
75%                   2.000000                 2.000000
max                   2.000000                10.000000
       nutrition-score-fr_100g  nutrition-score-uk_100g
count             12615.000000             12615.000000
mean                  5.654221                 5.230361
std                   2.462075                 3.713911
min                   2.000000                -7.000000
25%                   4.000000                 3.000000
50%                   5.000000                 5.000000
75%                   8.000000                 8.000000
max                  10.000000                19.000000
       nutrition-score-fr_100g  nutrition-score-uk_100g
count             16153.000000             16153.000000
mean                 13.812976                14.132483
std                   2.532038                 4.058531
min                   6.000000                -7.000000
25%                  12.000000                12.000000
50%                  14.000000                14.000000
75%                  16.000000                17.000000
max                  18.000000                23.000000
       nutrition-score-fr_100g  nutrition-score-uk_100g
count             11056.000000             11056.000000
mean                 21.346509                19.779848
std                   3.988830                 7.333795
min                  10.000000                -7.000000
25%                  19.000000                19.000000
50%                  21.000000                21.000000
75%                  24.000000                24.000000
max                  40.000000                36.000000